<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34640747369-p9h58fah86d6oablkq8m4rhgcipfcdbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34640747369-p9h58fah86d6oablkq8m4rhgcipfcdbp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IkEdI0dK6tMSK2jYACQckoDHOfhaFeg</string>
	<key>GCM_SENDER_ID</key>
	<string>34640747369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawinhandap</string>
	<key>PROJECT_ID</key>
	<string>lawayerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>lawayerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34640747369:ios:e9920b82bb30d1bc3cfbf8</string>
</dict>
</plist>